/* Ensure the body, html, and root take up the full height */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Body general styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Code blocks style */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Desktop background should take full height */
.desktop {
  height: 100vh;
  background: url('./assets/MiningGameBackground.png') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Taskbar stays at the bottom */
  position: relative;
}
